* {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
b,
strong {
  font-size: 1.7rem;
}

p,
a,
label,
button,
h3,
li,
.links {
  font-size: 1.5rem;
  margin: 0;
}

.custom-control-label {
  margin-right: 1rem;
  margin-left: 0.5rem;
  font-weight: 400;
}

.custom-checkbox .custom-control-label::before {
  height: 1.5rem;
  width: 1.5rem;
  left: -2rem;
  border-radius: 0rem;
}

.custom-control-label::after {
  height: 1.5rem;
  width: 1.5rem;
  left: -2rem;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 2rem;
  }

  h2,
  b {
    font-size: 1.5rem;
  }

  p,
  h3,
  li,
  .links {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  h2,
  b {
    font-size: 2rem;
  }

  p,
  h3,
  li,
  .links {
    font-size: 1.5rem;
  }
}

.react-svg {
  animation: react-svg-spin infinite 20s linear;
  height: 12vh;
}

@keyframes react-svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
